.containerr {
  position: relative;
  padding: 0px;
  width: 400px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  width: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f8c433;
}

.containerr:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}




.animated #static, .static #animated {
  display: none;
}
.animated #animated, .static #static {
  display: inline;
}